<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.core.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <link rel="stylesheet" href="sweetalert2.min.css"> -->
    <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div id="message">Waiting for Player 2</div>
    <div class="top-board">
        <p class="leaderboard"><span class="trigger badge p-2">Leaderboard</span></p>
        <p class="replay"><a href="" class="badge badge-warning p-2" id="replay" title="Try reconnecting with user">Connect</a></p>
        <p class="username"><strong class="badge badge-primary badge-pill p-2">Username: </strong> <span
                id="username"><%= data.username %></span></p>
        <p class="wins"><strong class="badge badge-pill badge-success p-2">Wins: </strong> <span id="wins"><%= data.wins %></span>
        </p>
        <p class="losses"><strong class="badge badge-danger badge-pill p-2">Losses:</strong> <span id="losses"><%= data.losses %></span>
        </p>
        <p class="moves"><strong class="badge badge-secondary badge-pill p-2">Moves:</strong> <span id="moves">0</span>
        </p>
    </div>
    <div>Invite link: <a href="" style="text-decoration: none;cursor: text;"><small id="invite"
                style="color: #ff6883;font-weight: bold;"></small></a>
    </div>
    <div class="leader-board">
        <p class="loader"></p>
        <div class="list">
            <ul id="leads">
                <big>Leader Board</big>
            </ul>
        </div>
    </div>
    <div class="containerr">
        <div class="board">
            <button id="r0c0" class="left"></button>
            <button id="r0c1" class="mid"></button>
            <button id="r0c2" class="end"></button>
            <button id="r1c0" class="left"></button>
            <button id="r1c1" class="mid"></button>
            <button id="r1c2" class="end"></button>
            <button id="r2c0" class="left"></button>
            <button id="r2c1" class="mid"></button>
            <button id="r2c2" class="end"></button>
        </div>
        <div class="chat">
            <div class="controls">
                <a id="toggle_sound">Toggle Sound</a>
            </div>
            <div class="chat-window">
                <div class="output"></div>
            </div>
            <div class="message-box">
                <div class="content">
                    <input type="text" class="message" id="chat-message">
                    <input type="submit" class="submit" id="send" value="send">
                    <span id="love" class="reaction">💓</span>
                    <span id="happy" class="reaction">😀</span>
                    <span id="eyes" class="reaction">👀</span>
                </div>
            </div>
        </div>
    </div>
    <style>
        .reaction{
            font-size: 2em;
        }
    </style>
    <script src="/index.js"></script>
    <script>
        $("#invite").text(window.location.origin + "/game");
    </script>
</body>
</html>