 body{
     background: rgb(238, 174, 202);
     background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(233, 211, 148, 1) 100%);
     /* position: relative; */
     height: 100%;
 }
 .board {
     margin: 0;
     width: 100%;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 150px 150px 150px;
     justify-content: center;
     border: none;
 }
 .containerr{
     height: 100vh !important;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: 100%;
     justify-content: space-between;
     padding: 20px;
     grid-gap: 15px;
 }
 .container .chat{
    height: 200px;
    bottom: 15%;
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
    margin-left: 10px;
 }
 .chat-window{
    height: 50%;
     overflow: auto;
     background-color: #ffffffc7;
 }
.chat .message-box{
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}
.message-box .content{
    /* margin-top: 170px; */
}
.content input[type=text]{
    box-sizing: border-box;
    border: none;
    width: 50%;
}
.controls{
    width: 100%;
    margin: 10px auto;
}
.output p{
    background-color: #fff;
    padding: 5px;
    border-top: 1px solid #000a;
    margin: 0;
}
 .board button {
     /* height: 150px;
     width: 150px;
     float: left;
     margin: 5px; */
     font-size: 3em;
     font-weight: bolder;
     font-style: italic;
     border: none;
 }
 #toggle_sound{
     padding: 10px;
     border-radius: 2mm;
     border: none;
     background-color: #fff;
     cursor: pointer;
 }

 #message {
     font-size: 2.5rem;
     text-align: center;
     background-color: #ffffffc7;
     width: 100%;
 }
 .top-board{
     background-color: #ffffffc7;
     padding: 5px;
     width: 100%;
     display: flex;
     justify-content: space-evenly;
 }

 #r0c0{
    border-right: 2px solid #ff6883;
    border-bottom: 2px solid #ff6883;
 }
 #r0c1{
    border-right: 2px solid #ff6883;
    border-left: 2px solid #ff6883;
    border-bottom: 2px solid #ff6883;
 }
 #r0c2{
    border-left: 2px solid #ff6883;
    border-bottom: 2px solid #ff6883;
 }
 #r1c0{
    border-top: 2px solid #ff6883;
    border-right: 2px solid #ff6883;
    border-bottom: 2px solid #ff6883;
 }
 #r1c1{
    border: 2px solid #ff6883;
 }
 #r1c2{
    border-top: 2px solid #ff6883;
    border-left: 2px solid #ff6883;
    border-bottom: 2px solid #ff6883;
 }
 #r2c0{
    border-top: 2px solid #ff6883;
    border-right: 2px solid #ff6883;
 }
 #r2c1{
    border-top: 2px solid #ff6883;
    border-left: 2px solid #ff6883;
    border-right: 2px solid #ff6883;
 }
 #r2c2{
    border-top: 2px solid #ff6883;
    border-left: 2px solid #ff6883;
 }
 @media (max-width: 769px){
    .containerr{
        grid-template-columns: 100%;
        height: 50%;
        grid-template-rows: 40% 40%;
        align-content: space-around;
        width: 100%;
    }
 }