 body{
     background: rgb(238, 174, 202);
     background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(233, 211, 148, 1) 100%);
     position: relative;
     height: 100%;
 }
 /* .chat-window{
     height: 200px;
     position: absolute;
     bottom: 0;
     width: 100%;
     background-color: #f3f3f3;
 } */
 .board {
     margin: auto;
     width: 490px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 150px 150px 150px;
     justify-content: center;
     border: none;
 }
 .container{
     position: relative;
     height: 100vh !important;
 }
 .container .chat{
    height: 200px;
    position: absolute;
    bottom: 15%;
    width: 100%;
    background-color: #f3f3f3;
 }
 .chat-window{
    height: 85%;
     max-height: 90%;
     overflow: auto;
 }
.chat .message-box{
    background-color: #fff;
    position: relative !important;
}
.message-box .content{
    /* margin-top: 170px; */
}
.controls{
    width: 100%;
    margin: 10px auto;
}
 .board button {
     /* height: 150px;
     width: 150px;
     float: left;
     margin: 5px; */
     font-size: 3em;
     font-weight: bolder;
     font-style: italic;
     border: none;
 }
 #toggle_sound{
     padding: 10px;
     border-radius: 2mm;
     border: none;
     background-color: #fff;
     cursor: pointer;
 }

 #message {
     font-size: 2.5rem;
     margin-bottom: 1rem;
     text-align: center;
     background-color: #ffffffc7;
     width: 100%;
 }
 .top-board{
     background-color: #ffffffc7;
     padding: 5px;
     width: 100%;
     display: flex;
     justify-content: space-evenly;
 }

 #r0c0{
    border-right: 2px solid #ff6883;
    border-bottom: 2px solid #ff6883;
 }
 #r0c1{
    border-right: 2px solid #ff6883;
    border-left: 2px solid #ff6883;
    border-bottom: 2px solid #ff6883;
 }
 #r0c2{
    border-left: 2px solid #ff6883;
    border-bottom: 2px solid #ff6883;
 }
 #r1c0{
    border-top: 2px solid #ff6883;
    border-right: 2px solid #ff6883;
    border-bottom: 2px solid #ff6883;
 }
 #r1c1{
    border: 2px solid #ff6883;
 }
 #r1c2{
    border-top: 2px solid #ff6883;
    border-left: 2px solid #ff6883;
    border-bottom: 2px solid #ff6883;
 }
 #r2c0{
    border-top: 2px solid #ff6883;
    border-right: 2px solid #ff6883;
 }
 #r2c1{
    border-top: 2px solid #ff6883;
    border-left: 2px solid #ff6883;
    border-right: 2px solid #ff6883;
 }
 #r2c2{
    border-top: 2px solid #ff6883;
    border-left: 2px solid #ff6883;
 }